.button {
    background: $blue;
    border: none;
    color: white;
    padding: $s-size;
    font-weight: 300;
    font-size: $font-size-large;
    display: inline-block;
    text-decoration: none;
    line-height: 1;
}

.button--link {
    background: none;
    padding: 0;
}

.button--secondary {
    background: #888;
}