.input-group {
    display: flex;
    margin-bottom: $m-size;
    flex-direction: column;

    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom: $l-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    
    @media (min-width: $desktop-breakpoint) {
        margin-right: $s-size;
        margin-bottom: 0 $s-size 0 0;
    }
}